.App {
  text-align: center;
}

.jumbotron {
  min-height: 60vh;
  background-image: url("https://images.unsplash.com/photo-1513185041617-8ab03f83d6c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.card-img-top {
  height: 350px;
}

h1.display-4 {
  font-size: 90px;
  font-weight: 500;
}

p.lead,
.card-text span {
  font-weight: 500;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;
}

.card {
  position: relative;
}

.card-text,
.card-body,
.card img {
  pointer-events: none;
}

.badge {
  position: absolute;
  top: 2%;
  left: 2%;
  padding: 10px !important;
}

input {
  width: 400px !important;
}

.selected {
  border: 1px solid red !important;
}

.comment-area {
  position: absolute;
  top: 0;
  left: 15%;
  z-index: 2;
  background-color: white;
  box-shadow: 0px 0px 17px -1px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  width: 400px;
  font-size: 13px;
  padding: 10px;
}

.comment-area p {
  /* line-height: 0.5; */
  margin-block: -2px;
}

.comment-area span,
.comment-area label {
  font-weight: bold;
}

.comment-area form {
  border: 1px solid rgba(0, 0, 0, .125);
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
  margin-top: 5px;
}

.comment-area input {
  width: 100% !important;
  font-size: inherit;
}

.comment-area button {
  font-size: inherit;
}

.spinner {
  margin-left: 45%;
  margin-top: 2%;
}