.App {
  text-align: center;
}

.jumbotron {
  min-height: 60vh;
  background-image: url("https://images.unsplash.com/photo-1513185041617-8ab03f83d6c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.card-img-top {
  height: 350px;
}

h1.display-4 {
  font-size: 90px;
  font-weight: 500;
}

p.lead,
.card-text span {
  font-weight: 500;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;
}

.card {
  position: relative;
}

.card img {
  pointer-events: none;
}

.card-text {
  pointer-events: none;
}

.badge {
  position: absolute;
  top: 2%;
  left: 2%;
  padding: 10px !important;
}

input {
  width: 400px !important;
}

.selected {
  border: 1px solid red !important;
}